#editprice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    border: 1px solid #CED4DA;
    border-radius: .5rem;
    overflow: hidden;
}
#editprice .title-price {
    width: 100%;
    background: #F2F2F2;
    text-align: right;
    padding: 1rem 2rem;
    border-bottom: 1px solid #CED4DA;
    font-size: 1rem;
}
#editprice .items {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

#editprice .items .item-edittab {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: .7rem 0;
}
#editprice .items .item-edittab input {
    height: 2rem;
    max-width: 20rem;
}
#editprice .items .item-edittab svg {
    margin: 0 1.3rem;
}
#editprice .items .item-edittab span {
    font-size: .9rem;
    padding: .3rem .5rem;
    color: #212529;
    background: #E9ECEF;
    border-radius: .2rem 0 0 .2rem;
    border: 1px solid #6c757dc2;
}