@font-face {
  font-family: IRANSans;
  font-display: swap;
  src: url(./assets/fonts/IRANSans/fonts/eot/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
  url(./assets/fonts/IRANSans/fonts/ttf/IRANSansWeb.ttf) format('truetype'),
  url(./assets/fonts/IRANSans/fonts/woff/IRANSansWeb.woff) format('woff'),
  url(./assets/fonts/IRANSans/fonts/woff2/IRANSansWeb.woff2) format('woff2');
}

* {
  font-family: IRANSans;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
